Requirements.

Part 1: Explore and Filter the Data.


Part 2: Which type of property should be targeted?


Part 3: Calculating occupancy.


Part 4: Estimate revenue for an investment property.


Part 5: Documentation and spreadsheet formatting.

